logger:
  app_name: "fastapi-app"
  level:
    base: TRACE
  format_str: "[{time:YYYY-MM-DD HH:mm:ss.SSS Z} | {extra[level_short]:<5} | {name}:{line}]: {message}"
  http:
    std:
      msg_format_str: '<n><w>[{request_id}]</w></n> {client_host} {user_id} "<u>{method} {url_path}</u> HTTP/{http_version}" {status_code} {content_length}B {response_time}ms'
      err_msg_format_str: '<n><w>[{request_id}]</w></n> {client_host} {user_id} "<u>{method} {url_path}</u> HTTP/{http_version}" <n>{status_code}</n>'
      debug_msg_format_str: '<n>[{request_id}]</n> {client_host} {user_id} "<u>{method} {url_path}</u> HTTP/{http_version}"'
    file:
      format_str: '{client_host} {request_id} {user_id} [{datetime}] "{method} {url_path} HTTP/{http_version}" {status_code} {content_length} "{h_referer}" "{h_user_agent}" {response_time}'
      tz: "localtime"
    headers:
      has_proxy: false
      has_cf: false
  intercept:
    mute_modules: ["uvicorn.access"]
  handlers:
    http_access_std_handler:
      enabled: true
      format: "[<c>{time:YYYY-MM-DD HH:mm:ss.SSS Z}</c> | <level>{extra[level_short]:<5}</level> ]: <level>{message}</level>"
    http_access_file_handler:
      enabled: true
      sink: "http/{app_name}.http-access.log"
    http_err_file_handler:
      enabled: true
      sink: "http/{app_name}.http-err.log"
    http_access_json_handler:
      enabled: true
      sink: "http.json/{app_name}.http-access.json.log"
    http_err_json_handler:
      enabled: true
      sink: "http.json/{app_name}.http-err.json.log"
